<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VolunteerManager interface {% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
</head>
<body>
    <div class="text-center">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">{{ message }} </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
    </div>
    <main class="container">
        <div class="row">
            <nav class="col-md-3">
            {% if session['token'] %}
            <h3>Menu:</h3>
            <ul>
                <li><a href="{{ url_for('index') }}">Index</a></li>
                <li><a href="{{ url_for('addGarden') }}">Add a Garden</a></li>
                <li><a href="{{ url_for('gardens')}}">View gardens list</a></li>
                <li><a href="{{ url_for('volunteers')}}">View volunteers list</a></li>
            </ul>
            {% endif %}
            </nav>
            <div class="col-sm-12 col-md-6">
                {% block main %}{% endblock %}
            </div>
        </div>
    </main>
</body>
</html>
