{% extends "base.html" %}
{% block title %}garden informations{% endblock %}
{% block main %}
{% set garden_infos = get_json("http://localhost:8080/VolunteerManager/api/v1/gardenservice/gardens/" + garden_id + "?access_token=sVmThUIdLblP1oVOvDB6eHpBIollsO3NNmuSq-dOrlCsYZWMmRVhI8i_aXTyzQIB") %}
	
	<h1>{{garden_infos.name}}</h1>

	<ul>
		{%  for key, value in garden_infos.items() recursive %}
			<li>
			{% if value is string %}
				{{ key }} : {{ value }}
			{% elif value|int %}
				{{ key }} : {{ value }}
			{% elif value is none %}
				{{ key }} : {{ value }}
			{% else %}
				{{ key }}
					<ul>{{ loop(value.items()) }}</ul>
			{% endif %}
			</li>
		{% endfor %}
	</ul>
{% endblock %}