{% extends "base.html" %}
{% block title %}Volunteer Manager Viewer{% endblock %}

{% block main %}
	<h1>Volunteer Manager Viewer</h1>
	{% if 'token' in session %}
		Possibilities:
		<ul>
			<li><a href="{{ url_for('addGarden') }}"> Add a garden</a></li>
			<li><a href="{{ url_for('gardens') }}">View gardens list</a></li>
            <li><a href="{{ url_for('volunteers') }}">View volunteers list</a></li>
		</ul>
		<form action="" method="post">
			<input class="btn btn-block" type="submit" name="logout" value="logout" />
		</form>
	{% else %}
	<br/>
		<p class="text-center">You have to <a href="{{ url_for('login') }}">login</a> to see the options.</p>
		<p class="text-center">If you're not a user yet, please <a href="{{ url_for('register') }}">register</a>.</p>
	{% endif %}
{% endblock %}